.fPasswordButtons {
    -fx-background-color: #FF775F;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    /*-fx-font-family: ;*/
}

.fPasswordButtons:hover {
    -fx-background-color: #FF9683;
}
