.storyPageSubmitBtn {
    -fx-background-color: #FF775F;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    /*-fx-font-family: ;*/
}

.storyPageSubmitBtn:hover {
    -fx-background-color: #FF9683;
}

#storyBoard {
    -fx-text-fill: #222f3e;
    -fx-font-size: 24px;
    /*-fx-font-family: ;*/
}

#pageSummary {
    -fx-text-fill: #576574;
    -fx-font-size: 14px;
}

.adminLinks {
    -fx-background-color: #FF775F;
    /*-fx-border-color: #FFFFFF;*/
    -fx-pref-height: 190px;
}

.adminLinks:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #FF775F;
}